/* -------------------  MOBILE  --------------------- */

body {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  min-height: 100vh;
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  padding: 20px;
}
