nav {
    background-color:purple;
    ul {
        padding:30px;
        li {
            text-align: center;
            a {
                font-size:40px;
                color:white;
                text-decoration: none;
            }
        }
    }
}